@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font: 15px "Noto Sans";
    font-weight: bold;
    margin: 1em 3em;
}

h1 {
    font-size: 2em;
}